button{
    background: violet;
    color: white;
}

button:hover{
/* esta funcion sirve para cuando el boton esta seleccionado y con ella pueda cambair de color  */
    background: orange;
 
}

button:active{
    background: red;
}
