.nav-enlace{
    display: inline-block;
    background: tomato;
    color: white;
    padding: 10px 30px;
    text-decoration: none;

}

.nav-enlace:hover{ 
    background: rosybrown;
}

nav{
    background: violet;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 5px;
    /* justify-content: space-around;
    justify-content: flex-end;
    justify-content: space-between; */
}

@media (max-width: 600px){
  nav{
      flex-direction: column;
  
  }
  .nav-enlace{
    margin:10px;
  }

}